.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1%;
    
  }
  
  button {
    background-color: #FFC0CB;
    border: 1px solid #454545;
    border-radius: 3px;
    font-size: 25px;
    font-weight: 750;
    font-family: 'Times New Roman', Times, serif;
    color: #0C090A;
    padding: 1%;
    width: 15%;
  }
  
  .flower-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  